{% extends "base.html" %}

{% block head %}
    {{ form.media }}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
    $('#id_photo').change(function(){
        $('#photo_preview').attr('src', $('#id_photo').val())
    })
    </script>
{% endblock %}

{% block content %}
    <h3>42 Coffee Cups Test Assignment</h3>

    <form action="{% url edit %}" method="post"
        {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}

    {{ form.non_field_errors }}

    <table width="100%">
        <tr>
            <td width="50%" valign="top">
                <h4>Info</h4>
                {{ form.name.errors }}
                <p><label>Name</label>: {{ form.name }}</p>
                {{ form.surname.errors }}
                <p><label>Last name</label>: {{ form.surname }}</p>
                {{ form.date_birth.errors }}
                <p><label>Date of birth</label>: {{ form.date_birth }}</p>
                {{ form.photo.errors }}
                <p><label>Photo</label>: {{ form.photo }}</p>
                <img id="photo_preview" src="" />
            </td>
            <td width="50%" valign="top">
                <h4>Contacts</h4>
                {{ form.email.errors }}
                <p><label>Email</label>: {{ form.email }}</p>
                {{ form.jabber.errors }}
                <p><label>Jabber</label>: {{ form.jabber }}</p>
                {{ form.skype.errors }}
                <p><label>Skype</label>: {{ form.skype }}</p>
                {{ form.contacts.errors }}
                <p><label>Other contacts</label>: <br /> {{ form.contacts }}</p>
                {{ form.bio.errors }}
                <p><label>Bio</label>: <br /> {{ form.bio }}</p>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save" /> <a href="{% url home %}">Cancel</a>

    </form>

    <hr />
    <h4>requests</h4>
    {% if log_request %}
        <table>
            {% for obj in log_request %}
                <tr>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.host }}</td>
                    <td>{{ obj.path }}</td>
                    <td>{{ obj.method }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}
