{% extends "base.html" %}

{% block head %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}js/index.js"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
    <h3>42 Coffee Cups Test Assignment</h3>

    <form id="contactform" action="{% url edit %}" method="post"
        {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

    <div id="ajaxwrapper">
        {% include "hello/form_edit.html" %}
    </div>

    <input id="btnsubmit" type="submit" value="Save" />
    <a id="btncancel" href="{% url home %}">Cancel</a>

    </form>

    <hr />
    <a href="{% url requests %}" target="_blank">requests</a>

{% endblock content %}
