{% extends "base.html" %}

{% block head %}
    {{ form.media }}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
    $('#id_photo').change(function(){
        $('#photo_preview').attr('src', $('#id_photo').val())
    });

    $(document).ready(function() {
        var options = {
            target: '#ajaxwrapper',
            beforeSubmit: pre_submit,
            success: post_submit
        };

        $('#contactform').ajaxForm(options)
    });

    function pre_submit(formData, jqForm, options) {
        $('#formstatus').html('Sending form...');
        $('#btnsubmit').attr('disabled', true);
        $('#btncancel').attr('disabled', true);
        return true;
    }

    function post_submit(responseText, statusText, xhr, $form)  {
        $('#btnsubmit').attr('disabled', false);
        $('#btncancel').attr('disabled', false);
    }
    </script>
{% endblock %}

{% block content %}
    <h3>42 Coffee Cups Test Assignment</h3>

    <form id="contactform" action="{% url edit %}" method="post"
        {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

    <div id="ajaxwrapper">
        {% include "hello/form_edit.html" %}
    </div>

    <input id="btnsubmit" type="submit" value="Save" />
    <a id="btncancel" href="{% url home %}">Cancel</a>

    </form>

    <hr />
    <h4>requests</h4>
    {% if log_request %}
        <table>
            {% for obj in log_request %}
                <tr>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.host }}</td>
                    <td>{{ obj.path }}</td>
                    <td>{{ obj.method }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}
