{% extends "base.html" %}

{% block content %}
<h3>42 Coffee Cups Test Assignment</h3>
<a id="auth_url" href="">Login</a>

<table width="100%">
<tr>
    <td width="50%">
        <h4>Info</h4>
        <p><label>Name</label>: {{ contact.name }}</p>
        <p><label>Last name</label>: {{ contact.surname }}</p>
        <p><label>Date of birth</label>: {{ contact.date_birth }}</p>
        <p><label>Bio</label>: {{ contact.bio }}</p>
    </td>
    <td width="50%">
        <h4>Contacts</h4>
        <p><label>Email</label>: {{ contact.email }}</p>
        <p><label>Jabber</label>: {{ contact.jabber }}</p>
        <p><label>Skype</label>: {{ contact.skype }}</p>
        <p><label>Other contacts</label>: {{ contact.contacts }}</p>
    </td>
</tr>
</table>

<hr />
<h4>requests</h4>
{% if log_request %}
<table>
{% for obj in log_request %}
    <tr>
        <td>{{ obj.date }}</td>
        <td>{{ obj.host }}</td>
        <td>{{ obj.path }}</td>
        <td>{{ obj.method }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock content %}
