{% extends "base.html" %}

{% block content %}

    <h3>requests</h3>

    <form action="{% url requests %}" method="get">
        <p>
            {{ form.order.label_tag }}
            {{ form.order }}
            <input type="submit" value="Submit" />
        </p>
    </form>

    {% if formset %}
        <form action="{% url requests %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
                {{ form.id }}
                <tr>
                    <td>{{ form.instance.date }}</td>
                    <td>{{ form.instance.host }}</td>
                    <td>{{ form.instance.path }}</td>
                    <td>{{ form.instance.method }}</td>
                    <td>{{ form.priority }} {{ form.priority.errors }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Save" />
        </form>
    {% endif %}

{% endblock content %}
